@use '../../styles/variables' as v;

.form {
  background-color: #fff;
  display: flex;

  &__input {
    flex-grow: 1;
    border: none;
    height: 2.5rem;
    padding: 0 1rem;
    outline: none;
    border-bottom: 2px solid transparent;
    &:focus {
      border-bottom-color: v.$text-blue;
      color: v.$text-blue;
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    color: v.$text-blue;
    cursor: pointer;
  }
}
